.codeInput {
  border: none;
  padding: 10px;
  font-size: 30px;
  text-transform: uppercase;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid grey;
  text-align: center;
  border-radius: 10px;
}
