.inscription_button {
  margin-top: 20px;
}

.field_container {
  position: relative;
  width: 100%;
}

.visibility_button {
  position: absolute;
  right: 10px;
  top: 30%;
}

.password_checking {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-weight: 300;
}

.password_checking li {
  padding-left: 1em;
  text-indent: -1em;
  font-style: italic;
  font-weight: 300;
}

.password_checking li.valid:before {
  content: '✓';
  padding-right: 5px;
}
.password_checking li.invalid:before {
  content: 'x';
  padding-right: 10px;
}

.password_checking li {
  margin-left: 30px;
}

.valid {
  color: green;
}
.invalid {
  color: red;
  font-style: italic;
  font-weight: 300;
}

.form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.visibility svg {
  width: 50px;
  height: 30px;
  background-color: white;
}

.forgot_password {
  margin-top: 10 px;
  text-align: right;
  cursor: pointer;
}
