.flex-container {
  display: flex;
}

.rounded-container {
  border-radius: 40px;
  background-color: #ffffff;
  margin: 40px;
  padding: 40px;
  max-width: 800px;
}

.invisible-container {
  margin: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  max-width: 1200px;
}

.category-button {
  width: 90%;
  min-height: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-style: hidden;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

.category-button:hover,
.emphasis-on-hover:hover {
  background-color: #f8f6f4;
  border-style: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
