.flex-container {
  display: flex;
}

.rounded-container {
  border-radius: 40px;
  background-color: #ffffff;
  margin: 40px;
  padding: 40px;
  max-width: 800px;
}

.invisible-container {
  margin: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  max-width: 1200px;
}

.category-button {
  width: 90%;
  min-height: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-style: hidden !important;
  color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 10px !important;
}

.category-button:hover,
.emphasis-on-hover:hover {
  background-color: #f8f6f4;
  border-style: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.personnal-space-main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
}

.personnal-space-content-container,
.personnal-space-help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@media (max-width: 900px) {
  .personnal-space-main-container {
    flex-direction: column;
  }
  .personnal-space-content-container,
  .personnal-space-help-container {
    width: 100%;
  }
}

.personnal-space-content-container {
  padding-top: 20px;
}

.personnal-space-help-container {
  padding-left: 50px;
  padding-right: 50px;
}

.personnal-space-help-wrapper {
  background: linear-gradient(to right, #034d6e, #014463);
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.personnal-space-help-text {
  margin-top: 50px;
  color: white;
}

.personnal-space-help-text p {
  text-align: justify;
}

.personnal-space-content-main {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
